/* ----------- TOP BAR ----------- */
.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background:  rgba(29, 26, 29, 0.7);
  color: #f4f4f4;
  font-size: 0.85rem;
  padding: 13px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  backdrop-filter: blur(6px);
}

.topRight {
  display: flex;
  align-items: center;
  gap: 14px;
}

.topRight a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.9;
  transition: opacity 0.2s ease, color 0.2s ease;
}

.topRight a:hover {
  opacity: 1;
  color: #ffffff;
  text-decoration: underline;
}

/* ----------- HEADER ----------- */
.header {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  z-index: 1002;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 8px;
  color: #f4f4f4;
  text-decoration: none;
}

.logoIcon {
  font-size: 1.6rem;
  color: #f4f4f4;
}

/* ----------- NAV DESKTOP ----------- */
.nav {
  display: flex;
  align-items: center;
}
.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
}

.nav a:not(.entrarBtn) {
  padding-bottom: 4px;
}

.nav a:not(.entrarBtn)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.nav a:not(.entrarBtn):hover::after {
  width: 100%;
}

.entrarBtn {
  border: 1px solid #f4f4f4;
  padding: 12px 20px;
  border-radius: 8px;
  background: transparent;
  color: #f4f4f4;
  transition: all 0.3s;
  line-height: 1;
}

.entrarBtn:hover {
  background-color: #f4f4f4;
  color: #120c12;
}

.logoutBtn {
   margin-left: 30px;
  border: 1px solid #f4f4f4;
  padding: 12px 20px;
  border-radius: 8px;
  background: transparent;
  color: #f4f4f4;
  transition: all 0.3s;
  line-height: 1;
}

.logoutBtn:hover {
  background-color: #f4f4f4;
  color: #120c12;
}

/* ----------- HAMBURGUER ----------- */
.hamburger {
  display: none;
  font-size: 1.6rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1003;
}

/* ----------- NAV MOBILE ----------- */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 0.8rem;
    padding: 8px 20px;
  }

  .header {
    top: 60px; /* ajusta altura total no mobile */
    padding: 18px 24px;
  }

  .hamburger {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: rgba(18, 12, 18, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: right 0.3s ease;
    z-index: 1001;
  }

  .navOpen {
    right: 0;
  }

  .nav a {
    font-size: 1.3rem;
    margin: 0;
  }

}
